.diary-article {
  border-color: var(--gray);
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  padding: 64px 48px;
  position: relative;
}

.diary-article::before,
.diary-article::after {
  content: '';
  display: block;
  width: 80px;
  height: 40px;
  position: absolute;
}
.diary-article::before {
  top: -20px;
  left: 30px;
  background: var(--main-bg-color) url(../../assets/quote-start.svg) no-repeat 0 0 / contain;
}
.diary-article::after {
  bottom: -20px;
  right: 30px;
  background: var(--main-bg-color) url(../../assets/quote-end.svg) no-repeat 0 0 / contain;
}

.article-feeling {
  float: left;
  margin: -15px 5px 0px 0px;
  width: 48px;
  height: 48px;
  background: no-repeat 0 / 48px;
}
.article-feeling.rainbow {
  background-image: url('../../assets/icon-rainbow.png');
}
.article-feeling.cloud {
  background-image: url('../../assets/icon-cloud.png');
}
.article-feeling.rain {
  background-image: url('../../assets/icon-rain.png');
}
.article-feeling.moon {
  background-image: url('../../assets/icon-moon.png');
}

.article-title::before {
  content: '';
  display: block;
  width: 100%;
  border-top: 1px solid var(--gray);
  position: absolute;
  top: 4px;
  left: 0;
  z-index: -1;
}

.article-title {
  font-size: 16px;
  color: var(--point-navy);
  float: left;
}

.article-time {
  color: var(--gray);
  font-size: clamp(10px, 2.5vw, 12px);
  float: right;
}

.article-content {
  color: #5a6a72;
  font-size: 14px;
  line-height: 1.4;
  clear: both;
  margin-top: 40px;
}

/* 버튼 */
.button-group {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: var(--grayish-white);
  border: 1px solid var(--gray);
  border-radius: 20px;
  width: 111px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group button {
  cursor: pointer;
  border: none;
  width: 32px;
  height: 32px;
  background: none;
  padding: 0;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.button-group button:hover {
  opacity: 1;
}

.button-group button img {
  width: 100%;
}
.button-group span {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: var(--light-gray);
  margin: 0 4px;
}
