.button-group {
  margin-bottom: 30px;
}

/* 기분 버튼  */
.btn-feeling {
  display: inline-block;
  margin-right: 16px;
}

/* 기분 버튼 label*/
.btn-feeling > input + label {
  content: '';
  display: block;
  width: 48px;
  height: 68px;
  cursor: pointer;
  background: url('../../assets/icon-sprites.png') -78px -70px / var(--sprites-image);
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

.btn-feeling > input[value='cloud'] + label {
  background-position: -78px -138px;
}

.btn-feeling > input[value='rain'] + label {
  background-position: -10px -138px;
}

.btn-feeling > input[value='moon'] + label {
  background-position: -10px -70px;
}

/* 기분 버튼 label span*/
.btn-feeling label span {
  display: block;
  padding-top: 55px;
}

/* 기분 버튼 hover, focus styling*/
.btn-feeling label:hover,
.btn-feeling > input:focus + label,
.btn-feeling label.checked {
  opacity: 1;
  font-weight: bold;
  box-shadow: 0 0 0 2px var(--point-blue);
  border-radius: 4px;
}
