.button-group {
  margin-bottom: 16px;
}

/* 기분 버튼  */
.btn-feeling {
  display: inline-block;
  margin-right: 16px;
}

/* 기분 버튼 label*/
.btn-feeling > input + label {
  content: '';
  display: block;
  width: 60px;
  height: 70px;
  cursor: pointer;
  background: url('../../assets/icon-rainbow.png') no-repeat center top/ 50px;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

.btn-feeling > input[value='cloud'] + label {
  background-image: url('../../assets/icon-cloud.png');
}

.btn-feeling > input[value='rain'] + label {
  background-image: url('../../assets/icon-rain.png');
}

.btn-feeling > input[value='moon'] + label {
  background-image: url('../../assets/icon-moon.png');
}

/* 기분 버튼 label span*/
.btn-feeling label span {
  display: block;
  padding-top: 50px;
}

/* 기분 버튼 hover, focus styling*/
.btn-feeling label:hover,
.btn-feeling > input:focus + label,
.btn-feeling label.checked {
  opacity: 1;
  font-weight: bold;
  box-shadow: 0 0 0 2px var(--point-blue);
  border-radius: 4px;
}
