.diary-article {
  border-color: var(--gray);
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  padding: 64px 48px;
  position: relative;
}

.diary-article::before,
.diary-article::after {
  content: '';
  display: block;
  width: 80px;
  height: 40px;
  position: absolute;
}
.diary-article::before {
  top: -20px;
  left: 30px;
  background: var(--main-bg-color) url('../../assets/icon-sprites.png') -110px -10px / var(--sprites-image);
}
.diary-article::after {
  bottom: -20px;
  right: 30px;
  background: var(--main-bg-color) url('../../assets/icon-sprites.png') -10px -10px / var(--sprites-image);
}

.article-feeling {
  float: left;
  margin: -15px 5px 0px 0px;
  width: 48px;
  height: 48px;
  background: url('../../assets/icon-sprites.png') -78px -70px / var(--sprites-image);
}

.article-feeling.cloud {
  background-position: -78px -138px;
}
.article-feeling.rain {
  background-position: -10px -138px;
}
.article-feeling.moon {
  background-position: -10px -70px;
}

.article-title::before {
  content: '';
  display: block;
  width: 100%;
  border-top: 1px solid var(--gray);
  position: absolute;
  top: 4px;
  left: 0;
  z-index: -100;
}

.article-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--point-navy);
  float: left;
}

.article-time {
  color: var(--gray);
  font-size: clamp(10px, 2.5vw, 12px);
  float: right;
}

.article-content {
  color: #5a6a72;
  font-size: 14px;
  line-height: 1.4;
  clear: both;
  margin-top: 40px;
}

/* 버튼 */
.button-group {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: var(--grayish-white);
  border: 1px solid var(--gray);
  border-radius: 20px;
  width: 111px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.button-group .btn-edit {
  background: url('../../assets/icon-sprites.png') -210px -10px / var(--sprites-image);
}
.button-group .btn-delete {
  background: url('../../assets/icon-sprites.png') -146px -138px / var(--sprites-image);
}
.button-group button:hover {
  opacity: 2;
}

.button-group span {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: var(--light-gray);
  margin: 0 4px;
}
