.header {
  background-color: var(--grayish-white);
  width: 100%;
}

.header-wrap {
  width: 1224px;
  max-width: calc(100% - 60px);
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header left */
.logo {
  width: 156px;
  height: 75px;
}

/* header right */
.hello-txt-container {
  display: flex;
  gap: 20px;
}

.hello-txt strong {
  border-bottom: 3px solid var(--point-yellow);
  box-shadow: inset 0 -0.6em rgba(254, 191, 16, 0.4);
}

.btn-logout {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  font-weight: bold;
  color: var(--gray);
  opacity: 0.8;
  transition: 0.3s;
}

.btn-logout:hover {
  opacity: 1;
}

/* layouts */
@media (min-width: 541px) {
  .hello-txt::after {
    content: '|';
    color: var(--light-gray);
    margin-left: 24px;
  }
}

@media (max-width: 540px) {
  .hello-txt-container {
    flex-direction: column;
    align-items: flex-end;
  }
}
