.header {
  background-color: var(--grayish-white);
  width: 100%;
}

.header-wrap {
  width: 1224px;
  max-width: calc(100% - 60px);
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* header left */
.header-left {
  width: 156px;
  min-width: 80px;
}
.header-left svg {
  width: 100%;
  aspect-ratio: 249 / 120;
}

/* header right */
.header-right {
  display: flex;
  gap: 20px;
  font-size: clamp(10px, 5vw, 16px);
}

.header-right .greeting-txt {
  word-break: keep-all;
}

.header-right .greeting-txt::after {
  content: '|';
  color: var(--light-gray);
  margin-left: 24px;
}

.header-right .greeting-txt strong {
  border-bottom: 3px solid var(--point-yellow);
  box-shadow: inset 0 -0.6em rgba(254, 191, 16, 0.4);
}

.header-right .btn-logout {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
  color: var(--gray);
  opacity: 0.8;
  transition: 0.3s;
}
.btn-logout svg {
  width: clamp(10px, 5vw, 16px);
}
.header-right .btn-logout:hover {
  opacity: 1;
}

/* layouts */
@media (max-width: 540px) {
  .header-right {
    flex-direction: column;
    align-items: flex-end;
  }

  .header-right .greeting-txt::after {
    display: none;
  }
  .header-right .greeting-txt {
    text-align: right;
  }
}
