.btn-primary {
  display: block;
  width: 100%;
  background: var(--point-navy);
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  opacity: 1;
  transition: 0.3s;
}
.btn-primary:hover {
  opacity: 0.8;
}
.btn-primary:not(:disabled) {
  cursor: pointer;
}
