.btn-black {
  display: block;
  width: 100%;
  background: #29363d;
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  opacity: 1;
  transition: 0.3s;
}
.btn-black:hover {
  opacity: 0.9;
}
.btn-black:not(:disabled) {
  cursor: pointer;
}
.btn-black:disabled {
  opacity: 0.2;
}
