.input-style {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  height: 48px;
  box-shadow: 0 1px 0 0 var(--gray);
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  font-size: 16px;
  transition: box-shadow 0.2s;
}

.input-style:hover {
  box-shadow: 0 2px 0 0 var(--point-blue);
}

.input-style:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--point-blue);
  border-radius: 4px;
}

.input-style.error:focus {
  box-shadow: 0 0 0 2px var(--point-red);
}
