.overlay {
  position: fixed;
  z-index: 200;
  inset: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dim {
  cursor: pointer;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.4;
}

.modal-container {
  position: relative;
  max-width: 456px;
  width: 100%;
  padding: 30px;
  background-color: white;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.modal-container > h2 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 16px;
}

.button-group {
  display: flex;
  gap: 10px;
  padding: 0 35px;
}
.button-group button:first-child {
  background-color: white;
  border: 1px solid var(--light-gray);
  color: var(--gray);
}
.button-group button:last-child {
  background-color: rgba(255, 79, 110, 0.9);
}

.btn-modal-close {
  width: 22px;
  height: 22px;
  background: url('../../assets/icon-sprites.png')-210px -106px / var(--sprites-image);
  position: absolute;
  top: 20px;
  right: 20px;
}

/* modal animation */
.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
