/* reset css */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-bg-color: #f0f8ff;
  --point-red: #ff4f6e;
  --point-blue: #2e6ff2;
  --point-navy: #29363d;
  --point-yellow: #febf10;
  --gray: #677880;
  --light-gray: #d8ddde;
  --grayish-white: #fafbfb;
}

body {
  font-family: Pretendard-Regular;
  margin: 0;
  background: var(--main-bg-color);
}

ul,
li,
p,
h1,
h2,
h3,
fieldset {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
fieldset,
button {
  border: none;
}
button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
}
input,
textarea {
  font: inherit;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 공통 */
.pending,
.error {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}
.pending {
  color: var(--point-navy);
}

.error {
  color: var(--point-red);
}

/* 로그인, 회원가입 페이지 */
.title {
  display: block;
  text-align: center;
  margin: 0 auto 40px;
  font-size: 24px;
  font-weight: bold;
}
.title span {
  border-bottom: 3px solid var(--point-yellow);
  box-shadow: inset 0 -0.6em rgba(254, 191, 16, 0.4);
}

.form-wrap input {
  margin-bottom: 24px;
}

.form-wrap .label {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--point-navy);
  margin-bottom: 8px;
}

.btn-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--point-navy);
  opacity: 0.8;
  transition: 0.3s;
}

.btn-link:hover {
  opacity: 1;
}
